<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffinity</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CoffeeHouse/css/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-top">
            <a href="{% url 'main-catalog' %}" class="header-logo-link">
                <img src="{% static 'CoffeeHouse/images/logo.svg' %}" alt="Логотип Coffinuty" class="icon">
                <h1 class="logo">COFFINITY</h1>
            </a>
        </div>
        <nav class="header-nav">
            <div class="nav-container">
                <img src="{% static 'CoffeeHouse/images/menu.svg' %}" alt="Иконка меню" class="nav-icon">
                <a href="{% url 'catalog' %}" class="menu-btn">Меню</a>
                
                <div class="search-container">
                    <input type="text" placeholder="Поиск..." class="search-input">
                    <img src="{% static 'CoffeeHouse/images/lupa.svg' %}" alt="Лупа" class="search-icon">
                </div>

                <div class="nav-icons">
                    <img src="{% static 'CoffeeHouse/images/pro.svg' %}" alt="Профиль" class="icon">
                    <img src="{% static 'CoffeeHouse/images/cor.svg' %}" alt="Корзина" class="icon">
                </div>
            </div>
        </nav>
    </header>

    <main>
    {%block main%}
    {%endblock%}
     </main>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-left">
                <div class="footer-logo">
                    <a href="{% url 'main-catalog' %}" class="footer-logo-link">
                        <img src="{% static 'CoffeeHouse/images/miniLogo.svg' %}" alt="Логотип Coffinuty" class="icon">
                        <span class="logo-text">COFFINITY</span>
                    </a>
                </div>
                <p class="copyright">© 2025 Кофейня Coffinity</p>
            </div>

            <div class="footer-center">
                <a href="#" class="footer-link">Публичная оферта</a>
                <a href="#" class="footer-link">Политика конфиденциальности</a>
            </div>

            <div class="footer-right">
                <img src="{% static 'CoffeeHouse/images/Inst.svg' %}" alt="Instagram" class="social-icon">
                <img src="{% static 'CoffeeHouse/images/f.svg' %}" alt="Facebook" class="social-icon">
            </div>
        </div>
    </footer>
</body>
</html>