{% extends 'base.html' %}
{% load static %}

{%block main%}
<main class="main-content">
    <div class="hero-section">
        <img src="{% static 'CoffeeHouse/images/fonGlav.png' %}" alt="Кофе и завтрак" class="hero-image">
        <div class="hero-overlay">
            <div class="hero-content">
                <h2 class="hero-title">Начни этот день правильно:<br>с завтрака в кофейне</h2>
                <a href="{% url 'catalog' %}" class="hero-menu-btn">Меню</a>
            </div>
        </div>
    </div>
</main>
{%endblock%}